/*
Nombre: EuroStylos
Empresa: Eurotopes Marmoles y Granitos C.A
Autor: Francisco Garcia
Fecha:08-09-2017
Licencia: N/A
*/

@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Saira');
@import url('https://fonts.googleapis.com/css?family=PT+Serif|Saira');
@import url('https://fonts.googleapis.com/css?family=Bitter');

/*ALL STYLES OF WWW.EUROTOPES.COM.VE*/
.fondo{
	background-color: #ccf968;
	height: 135px;
	border-right: 10px solid #2b2b2b;
}
.fondo_2{
	background-color:#8e8e8e;
	height: 135px;
	border-left: 10px solid #2b2b2b;

}
.logo{
	width: 190px;
	height: 110px;
}
.header{
	margin-top: 35px;
	margin-right: 10%;
}
.list div img{
	width: 90%;
	margin-left: 5%;
}
.footer{
	background-color:#ccf968;
	height: 135px;
}
.foot{
	padding-top: 5%;
}
.foot p, .web{
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
.bor{
	border-bottom: 15px solid black;
}
a{
	color: white;
	font-size: 18px;
}
.content{
	margin-top: 3%;
	margin-bottom: 3%;
}
.content p{
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
}
.redes{
	margin-bottom: 2%;
}
.barra{
	width: 100%;
	height: 50px;
}
.act{
	background-color: white;
}
.act a{
	color: #23527c;
}
h3{
	font-family: 'Oswald', sans-serif;
	font-size: 38px;
}
h2{
	font-family: 'Oswald', sans-serif;
	margin-bottom: 3%;
}
h4{
font-family: 'PT Serif', serif;
font-size: 24px;
font-weight: bold;
}
.art p{
	font-size: 16px;
	font-family: 'PT Serif', serif;
}
textarea{
	width: 100%;
	height: 130px;
}
.form1{
	margin-bottom: 3%;
	margin-top: 2%;
}
iframe{
	width: 100%;
}
.center{
	text-align: center;
}
/*RESOLUCION DE PANTALLA*/
/*320*/
@media (max-width: 320px){
.logo{
 margin-left:15%;
}
.fondo_2{
	height: 210px;
}
}
/*321 - 414*/
@media (min-width: 321px) and (max-width: 414px) {
.logo{
 margin-left:25%;
}
.fondo_2{
	height: 210px;
}
}
/*415 - 575*/
@media (min-width: 415px) and (max-width: 575px){
.logo{
 margin-left:45%;
}
.fondo_2{
	height: 180px;
}
.header{
	margin-top: 10px;
	margin-right: 0;
}
}
/*575 - 667*/
@media (min-width: 576px) and (max-width: 667px){
.logo{
	margin-left: 50%;
}
.fondo_2{
	height:180px;
}
.header{
	margin-top: 10px;
	margin-right: 0;
}
}
/*668 - 767*/
@media (min-width: 668px) and (max-width: 767px){
.logo{
	margin-left: 55%;
}
}
/*768 - 991*/
@media (min-width: 768px) and (max-width: 991px) {
.logo{
 margin-left:0;
}
}
/*992 - 1024*/
@media (min-width: 992px) and (max-width: 1024px) {
.logo{
 margin-left:15%;
}
}
/*992 - 1024*/
@media (min-width: 1025px){
.logo{
 margin-left:25%;
}
}