/*
Developer by: Francisco Garcia
Date: 01-08-2020
Description: Style CSS FORK ALL
*/
/** --- new**/
.body-background{
	background-color: #494D54;
}
.target-body{
	margin-top: 10%;
}
.tittle-font{
	font-size: 130px;
	font-weight: bold;
	-webkit-text-stroke: 2px white;
}
.subtittle-font{
	font-size: 30px;
	font-weight: bold;
	-webkit-text-stroke: 2px white;
}
.subtittle-font-user{
	font-size: 20px;
	font-weight: bold;
	color: white;
}
label{
	font-weight: bold;
	color: white;
	
}
input[type=number] { 
	-moz-appearance:textfield; 
	-webkit-appearance:textfield;
}
.form-style-inventario .row{
	margin-top: 2%;
}

.table-wrapper-scroll-y {
  display: block;
  max-height: 250px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-wrapper-scroll-y-modal{
	max-height: 300px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}